
<div id="info_area">
	
	<div class="col-md-6">
		<p class="sa_label">STUDY AREA </p><span class="glyphicon glyphicon-chevron-right"></span><p class="sa_title"> {{ studyarea.name }}</p>
	</div>
	<div class="col-md-6">
		<ul id="navMapList" class="nav nav-pills pull-right">
			<li><a href="studyarea/{{studyarea._id}}">Map</a></li>
			<li  class="active"><a>List</a></li>
		</ul>
	</div>			
	<div class="clearfix"></div>
</div>
<div id="sa_filters">

	

		<div class="col-md-1">
			<p class="row_label">Filter By:</p>
	 	</div>

		<div class="col-md-3">
	 		
			<label>Rating 
				<select name="question_set" ng-model="filters.icon" ng-change='filterChange()' class="form-control" ng-options="r.value as r.name for r in ratings">
					<option value="">All</option> 				
				</select>
			</label>

		</div>
		<div class="col-md-4">
			
			<div ng-repeat="q in studyarea.default_audit_type.questions">

				<div ng-show="q.question.question_type=='check'">
					<div ng-repeat="chk in q.question.opts">
						
						<label>
		    				<input   ng-change='filterChange()' type="checkbox" name="locationType" ng-model="filters.responses[$parent.$index].opts[chk.option_text]" value="{{chk.option_text}}">
		    				{{chk.option_text}}
		    			</label>


					</div>
				</div>

			</div>

		</div>	
		<div class="col-md-4">
			
		</div>
		<div class="clearfix"></div>
		
</div>
<div id="sa_data">

	<div class="container">

		<div ng-repeat="r in studyarea.responses | filter: filters" class="row sa_data_row">
			

			<div class="row upper_row">
				<div class="col-md-2 col">

					{{r.lat}}
				</div>
				<div class="col-md-8 col">

					
				</div>
				<div class="col-md-2 col date">

					<span class="glyphicon glyphicon-time"></span>&nbsp;<span class="col_data">{{r.timestamp |date:"MM/dd/yyyy 'at' h:mma"}}</span>
				</div>
			</div>

			<div class="row lower_row">
				<div class="col-md-3 col address">

					<!--<span class='col_label'>Where</span>&nbsp;&nbsp;--><span class='col_data'>{{r.address.address_components[0].short_name}} {{r.address.address_components[1].short_name}}</span>
				</div>
			</div>


		</div>
	</div>
</div>