
<md-content>
    <md-list>
      <md-item ng-repeat="u in users">
        <md-item-content>
          
          <div class="md-tile-content" layout="row" layout-margin layout-fill>
            <div flex="20">

            	<h3>{{ u.name }}</h3>
          	  	<h4>{{ u.email }}</h4>
          	 </div>

          	 <div flex="20">
          	 
          	 </div>
          	 <div flex layout-align="center">

          		<p><span style="color:grey">role</span> <span style="color:green">{{ u.role }}</span></p>
          	 </div>
       		 <div flex>
				
				
			 </div>
          </div>
        </md-item-content>
        <md-divider></md-divider>
      </md-item>
    </md-list>
</md-content>
<br />
<div layout="row">
	<div flex="33">
	
	</div>
	<div layout="column"  flex="33">

	    <md-button  layout-align="center" ng-click="btnNewUser()" class="md-raised md-primary">New User</md-button>

	</div> 
	 <div flex="33">
	
	 </div>
 </div>


	<div class="modal fade" id="mdlAddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">New User</h4>
	      </div>
	     	<form  role="form"  name="form" ng-submit="modalSubmitNewUser(form)">
		      <div class="modal-body">
		         
			      	<div class="form-group">
						<label for="txtEmail">Email </label>
						<input id="txtEmail" ng-model="newUser.email" class="form-control"  type="email" placeholder="Enter email" required>
					 </div>

					 <div class="form-group">
						<label for="txtName">Name </label>
						<input id="txtName" ng-model="newUser.name" class="form-control" type="text" placeholder="John Smith" required>
					</div>

					<div class="form-group">
						<label for="txtPassword">Password </label>
						<input id="txtPassword" ng-model="newUser.password1" class="form-control" type="password" placeholder="Password" required>
					</div>

					<div class="form-group">
						<label for="txtPassword2">Repeat Password </label>
						<input id="txtPassword2" ng-model="newUser.password2" class="form-control" type="password" placeholder="Password" required>
					</div>

					<div class="form-group">
						<label>Select User Role
							<select name="roleselect" ng-model="newUser.role" class="form-control" ng-options="u for u in userRoles" required>
									<option value="">Please Select</option> 					
							</select>
						</label>
					</div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button  class="btn btn-primary" type="submit">Create User</button>
		      </div>
	     	 </form>
	    </div>
	  </div>
	</div>
